.services{
    height: 100vh;
    display: flex;
    position: relative;
}

.servicesSection{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionHeading{
    font-size: 48px;
    margin-bottom: 20px;
}

.serviceList{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.service{
    width: 50%;
    min-width: 150px;
    padding: 16px;
    border-radius: 20px;
    background-color: #2f213f;
    display: flex;
    align-items: center;
    gap:16px;
}

.serviceIcon{
    border-radius: 20px;;
}

.service:nth-child(1) .serviceIcon{
    background-color: #dd4c62;
}

.service:nth-child(2) .serviceIcon{
    background-color: #025656;
}

.service:nth-child(3) .serviceIcon{
    background-color: #6c5c0c;
}

.serviceIcon img{
    height:40px;
    width:40px;
    border-radius: 20px;
}

.counterList{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

@media (max-width: 1500px){
    .services{
        width:max-width;
    }
}

@media (max-width:800px){
    .sectionHeading{
        font-size:20px;
    }
    h3{
        font-size: 10px;
    }
}
