.bubbleContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.bubble{
    width: 70%;
    height: 70px;
    background-color: whitesmoke;
    border-radius: 20px 20px 0px 20px ;
    color: black;
    padding:10px;
}

.manImage{
    background-color: #dd4c62;
    height: 40px;
    margin-top:80px;
    border-radius: 20px;
}

.changingText{
    font-size: 20px;
}